@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

/* Define your variables */
:root {
  /* --form-bg: #f8f4e5; */
  --form-border: #f45702;
  --form-shadow: #dfae4b;
  --form-focus: #6bd4b1;
  --font-size: 12pt;
  --font-face: 'Spartan';
  --font-color: #3e3929;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}

.body {
  background: url("https://cdn.pixabay.com/photo/2013/07/12/14/42/resistance-148608_1280.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 120%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: var(--font-size);
  font-family: var(--font-face);
  color: var(--font-color);
} 

.contact-us {
 
  background: var(--form-bg);
  padding: 50px 100px;
  border-top: 10px solid var(--form-border);
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 2);
  font-family: var(--font-face);
}

input {
  margin-bottom: calc(var(--font-size) * 2);
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: calc(var(--font-size) * 2);
  font-style: italic;
  margin: 0 0 .5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: var(--form-border);
  font-weight: bold;
}

input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  background: var(--form-bg);
  padding-left: 5px;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid var(--form-focus);
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: calc(var(--font-size) * 2);
  padding: 0 20px;
  border: none;
  background: var(--form-border);
  color: white;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

button:hover {
  background: inherit;
  color: var(--form-border);
  border-bottom: 2px solid var(--form-border);
}

::selection {
  background: rgb(255, 199, 184);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid var(--form-focus);
  -webkit-text-fill-color: var(--font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--form-bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}
